{% extends "base.html" %}

{% block title %}
Hall of fame
{% endblock %}

{% block content %}
<h2>Most reliable</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Average packet ratio</th>
</tr>
{% for player in most_reliable %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{{ player.avg_ratio }}</td>
</tr>
{% endfor %}
</table>

<h2>Fastest</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Average throughput [bytes/s]</th>
</tr>
{% for player in fastest %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{{ player.avg_throughput }}</td>
</tr>
{% endfor %}
</table>

<h2>Most cooperative</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Combined ratio</th>
</tr>
{% for player in most_cooperative %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{{ player.avg_ratio_combined }}</td>
</tr>
{% endfor %}
</table>

<h2>Best interferer</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Max ratio</th>
</tr>
{% for player in best_interferer %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{{ player.max_ratio_others }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
