{% extends "base.html" %}

{% block title %}
Hello {{ user }}!
{% endblock %}

{% block content %}

<p>Your players:</p>

<table>
<tr>
<th>name</th><th>crash<br/>ratio</th><th>average<br/>rx/tx ratio</th><th>created</th>
{% for player in player_list %}
<tr>
<td><a href="/front/player/{{ player.id}}">{{ player.name }}</a></td>
<td>{{ player.crash_ratio }}</td>
<td>{{ player.packet_ratio }}</td>
<td>{{ player.created }}</td>
</tr>
{% endfor %}
</table>

<p>
<a href="{% url 'player_add' %}">Submit a player</a>
</p>
<p>
<a href="{% url 'auth_logout' %}">Log out</a>
</p>
{% endblock %}
