{% extends "base.html" %}

{% block title %}
"{{ player.name }}" by {{ user }}
{% endblock %}

{% block content %}
<h2>Results</h2>

<table>
<tr>
<th>crashed?</th>
<th>RX packets</th><th>TX packets</th><th>Packet loss</th>
<th>Payload</th>
<th></th><th></th></tr>
{% for result in result_list %}
<tr>

<td>{{ result.crashed }}</td>

<td>{{ result.received_packets }}</td>
<td>{{ result.transmit_packets }}</td>
<td>{{ result.get_packet_loss|floatformat:"1" }} %</td>
<td>{{ result.payload_bytes }} bytes</td>

<td><a href="{% url 'result' result.id %}">log</a></td>
<td>{% if result.timeline %}<a href="{{ result.timeline.url }}">timeline</a>{% endif %}</td>
</tr>
{% endfor %}
</table>

<h2>Code</h2>

<pre>
{{ player.code }}
</pre>

<a href="{% url 'index' %}">back</a>
<form action="{% url 'player_del' player.id %}" method="post">
	{% csrf_token %}
	<input type="submit" value="delete"/>
</form>
{% endblock %}
