{% extends "base.html" %}

{% block title %}
"{{ player.name }}" by {{ user }}
{% endblock %}

{% block content %}
{% if player.enabled %}
<form action="{% url 'player_disable' player.id %}" method="post">
	{% csrf_token %}
	<input type="submit" value="disable"/>
</form>
{% else %}
<form action="{% url 'player_enable' player.id %}" method="post">
	{% csrf_token %}
	<input type="submit" value="enable"/>
</form>
{% endif %}

<p>Disabling a player prevents it from participating in future rounds.</p>

<h2>Results</h2>

<table>
<tr>
<th>Round</th>
<th>Duration [s]</th>
<th>Competitors</th>
<th>crashed?</th>
<th>RX packets</th><th>TX packets</th><th>Packet loss</th>
<th>Payload</th>
<th></th><th></th>
</tr>
{% for result in result_list %}
<tr>

<td><a href="{% url "round" result.game.round.id %}">{{ result.game.round.id }}</a></td>

<td>{{ result.game.duration|floatformat:"1"}}</td>
<td>
<ol>
{% for result2 in result.game.playerresult_set.all %}
{% if result2 != result %}
<li>"{{ result2.player }}" by {{ result2.player.user }}</li>
{% endif %}
{% endfor %}
</ol>
</td>

<td>{% if result.crashed %}
Yes (<a href="{% url 'result' result.id %}">log</a>)
{% else %}
No
{% endif %}
</td>

<td>{{ result.received_packets }}</td>
<td>{{ result.transmit_packets }}</td>
<td>{{ result.get_packet_loss|floatformat:"1" }} %</td>
<td>{{ result.payload_bytes }} bytes</td>

<td>{% if result.timeline %}<a href="{{ result.timeline.url }}">player timeline</a>{% endif %}</td>
<td>{% if result.game.timeline %}<a href="{{ result.game.timeline.url }}">game timeline</a>{% endif %}</td>
</tr>
{% endfor %}
</table>

<h2>Code</h2>

<pre>
{{ player.code }}
</pre>

<a href="{% url 'user' %}">back</a>
{% endblock %}
