{% extends "base.html" %}

{% block title %}
Ranking
{% endblock %}

{% block content %}
<h2>Most reliable</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Packet loss</th>
</tr>
{% for player in most_reliable %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.avg_packet_loss != None %}{{ player.avg_packet_loss|floatformat:"1" }} %{% endif %}</td>
</tr>
{% endfor %}
</table>

<h2>Fastest</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Throughput</th>
</tr>
{% for player in fastest %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.avg_throughput != None %}{{ player.avg_throughput|floatformat:"1" }} bytes/s{% endif %}</td>
</tr>
{% endfor %}
</table>

<h2>Most cooperative</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Coop. packet loss</th>
</tr>
{% for player in most_cooperative %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.game_packet_loss != None %}{{ player.game_packet_loss|floatformat:"1" }} %{% endif %}</td>
</tr>
{% endfor %}
</table>

<h2>Best interferer</h2>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Packet loss of others</th>
</tr>
{% for player in best_interferer %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.other_packet_loss != None %}{{ player.other_packet_loss|floatformat:"1" }} %{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
