{% extends "base.html" %}

{% block title %}
Round {{ round.id }}
{% endblock %}

{% block content %}
<h2>Rankings</h2>

<h3>Most reliable</h3>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Worst packet loss</th>
<th>Avg. packet loss</th>
</tr>
{% for player in most_reliable %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.max_packet_loss != None %}{{ player.max_packet_loss|floatformat:"1" }} %{% endif %}</td>
<td>{% if player.avg_packet_loss != None %}{{ player.avg_packet_loss|floatformat:"1" }} %{% endif %}</td>
</tr>
{% endfor %}
</table>

<h3>Fastest</h3>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Worst throughput</th>
<th>Avg. throughput</th>
</tr>
{% for player in fastest %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.min_throughput != None %}{{ player.min_throughput|floatformat:"1" }} bytes/s{% endif %}</td>
<td>{% if player.avg_throughput != None %}{{ player.avg_throughput|floatformat:"1" }} bytes/s{% endif %}</td>
</tr>
{% endfor %}
</table>

<h3>Most cooperative</h3>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Coop. packet loss</th>
</tr>
{% for player in most_cooperative %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.game_packet_loss != None %}{{ player.game_packet_loss|floatformat:"1" }} %{% endif %}</td>
</tr>
{% endfor %}
</table>

<h3>Best interferer</h3>

<table>
<tr>
<th>Name</th>
<th>Author</th>
<th>Packet loss of <br/>best competitor</th>
</tr>
{% for player in best_interferer %}
<tr>
<td>"{{ player }}"</td>
<td>{{ player.user }}</td>
<td>{% if player.other_packet_loss != None %}{{ player.other_packet_loss|floatformat:"1" }} %{% endif %}</td>
</tr>
{% endfor %}
</table>

<h2>Games</h2>

<table>
<tr>
<th>Players</th>
<th>Duration [s]</th>
<th></th>
</tr>
{% for game in game_list %}
<tr>
<td>
<ol>
{% for result in game.playerresult_set.all %}
<li>"{{ result.player }}" by {{ result.player.user}}</li>
{% endfor %}
</ol>
</td>
<td>{{ game.duration|floatformat:"1" }}</td>
<td>{% if game.timeline %}<a href="{{ game.timeline.url }}">timeline</a>{% endif %}</td>
</tr>
{% endfor %}
</table>


{% endblock %}
